.navbar {
  position: fixed!important;
  width: 100%;
  background: #fff;
  top: 0;
  width: 100%;
  z-index: 2117;
  border-bottom: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.2);
  box-shadow: 0 3px 6px 0 rgba(51, 51, 51, 0.2);

  img {
    max-width: 100px;
    height: auto;
    margin-left: 20px;
  }
}

.navbar-nav {
  margin-left: 20px;

  a {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.6;
    margin-right: 10px;
    color:  #1e1e1e;
    &:hover {
      color: #1e1e1e;
      opacity: 1;
    }
  }
}
.form-inline {
  .search-box {
    height: 35px;
    border-radius: 20px;
    ::placeholder {
      color: red;
    }
  }
}

.transparent {
  background: transparent;
  color: white;
}
